@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:800');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body {
    background: #8FB4DB url("../img/header-background.jpg") 50% 80% fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.site-header {
    min-height: 50vh;
    max-height: 90vh;
    height: 50vw;
    width: 100%;

    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    color: #fff;
}

.site-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56,90,125,.9);
    z-index: 5;
}

.site-header .brand {
    position: relative;
    z-index: 10;
    text-align: center;
}

.site-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.site-name {
    display: inline-block;
    text-align: left;
}


.site-content {
    min-height: calc(100vh - 6rem);
    position: relative;
    background-color: #fff;
    padding: 3rem;
}

